{% extends 'layout.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/main.css">
</head>

<body>
    <div class="sidebar">

    </div>
    <div class="main">
        <h1>Music Library</h1>

        <br>
        <h3>Created by Stanley Wu</h3>
        <br>
        <p>A flask web application used to browse tracks.</p>

        <p>Users of this website can interact with a large collection of their favourite sound tracks. </p>

        <p> This web application incorporates both the memory and database design patterns </p>

        <p> I hope you enjoy!</p>
        <br>
        <br>
    </div>
    <p class="band">Below are some images of my favourite bands! (Imagine Dragons and Coldplay)</p>
    <img src="https://i.guim.co.uk/img/media/b770505dfc99d0d5becb98b249ec2131e35b9039/0_0_3475_2085/master/3475.jpg?width=1200&height=900&quality=85&auto=format&fit=crop&s=07667b6aec6ec7913e9fc305e62efa48"
                class="coldplay">

    <img src="https://timesofindia.indiatimes.com/thumb/msid-33746081,width-1200,height-900,resizemode-4/.jpg" class="dragons">


    <div class="pad"></div>
    <br>

</body>

</html>

{% endblock %}